*.nii.gz
*.nii
.idea
*.zip
HGG/
LGG/
.ipynb_checkpoints
brats/models
*.pkl
data.hdf5
*.log
*.h5
*.ipynb
*.pyc
test_dir
*.hdr
*.img
*.csv
.DS_Store
online_evaluation/
MICCAI_BraTS_2018_Data_Training/
MICCAI_BraTS_2018_Data_Validation/
MICCAI_BraTS_2019_Data_Training/
MICCAI_BraTS_2019_Data_Validation/
MICCAI_BraTS2020_TrainingData
MICCAI_BraTS2020_ValidationData/
predictions/
logs/
training/
jobs/
.vscode/*
*.tar
Digraph.gv.pdf
Digraph.gv
